<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
        <div class ="starter-tamplate">
            <h1>
                HOME PAGE LAH !
            </h1>
            <h1>
                1. go to link <a th:href="@{/admin}">Admin Page</a>
            </h1>
            <h1>
                1. go to link <a th:href="@{/user}">User Page</a>
            </h1>
            <h1>
                1. go to link <a th:href="@{/about}">About Page</a>
            </h1>
        </div>
    </div>
</div>
</section>

<div th:replace="fragments/header :: header-css"/>

</body>
</html>